<div class="footer-wrap publication-footer">
    <div class="visibility-check"></div>
    <div class="footer themed-background">
        <div class="container">
            <div class="footer-blurbs">
                <div class="footer-copyright-blurb">Raul Cordero ∙ 2024</div>
                <div class="footer-terms-blurb"><a href="https://github.com/rawdx" rel="noopener noreferrer"
                                                   target="_blank">Github</a><span> ∙
					</span>
                    <a href="https://www.linkedin.com/in/raulcorderod" rel="noopener noreferrer" target="_blank">Linkedin</a>
                </div>
            </div>
            <div class="footer-buttons">
                <a class="footer-cta start-publishing" href="https://github.com/rawdx/newspaper-java" target="_blank">
                    Source Code</a>
            </div>
        </div>
    </div>
</div>