<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Manage users</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/main.js}"></script>
</head>

<body>

	<div th:if="${session.user}">
		<a th:href="@{/logout}">Logout</a>
		<!-- Add any other content you want to display for logged-in users -->
	</div>

	<h2>User Management</h2>
	<a th:href="@{/admin/articles}">show articles</a>
	<a th:href="@{/admin/categories}">show Categories</a>

	<!-- Button to toggle the visibility of the create user form -->
	<button id="showCreateForm" onclick="toggleForm('createForm')">Create User</button>

	<!-- Create User Form (Initially Hidden) -->
	<form enctype="multipart/form-data" id="createForm" th:action="@{/admin/create}" th:method="post"
		th:style="${'display: none;'}">
		<h3>Create User</h3>
		<label>Email:
			<input name="email" required type="text" />
		</label>

		<label>Password:
			<input name="password" required type="password">
		</label>

		<label>First Name:
			<input name="firstName" type="text">
		</label>

		<label>Last Name:
			<input name="lastName" type="text">
		</label>

		<label>Phone Number:
			<input name="phoneNumber" type="text" />
		</label>

		<label for="profilePicture">Profile Picture:
			<input accept="image/*" id="profilePicture" name="profilePicture" type="file"><br>
		</label>

		<label>Role:
			<select name="role">
				<option value="USER">User</option>
				<option value="ADMIN">Admin</option>
				<option value="WRITER">Writer</option>
				<option value="SUBSCRIBER">Subscriber</option>
			</select>
		</label>

		<label>
			Verify:
			<input name="isVerified" type="checkbox" />
		</label>

		<button type="submit">Create</button>
	</form>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Picture</th>
				<th>Email</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Role</th>
				<th>Is Verified</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<!-- Loop through the list of users -->
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td>
					<img alt="Image" class="profile-image-admin" th:if="${user.profilePicture != null}"
						th:src="'data:image/png;base64, ' + ${user.profilePicture}" />
					<img alt="Default Image" class="profile-image" src="/img/default-picture.png"
						th:unless="${user.profilePicture != null}" />
				</td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.phoneNumber}"></td>
				<td th:text="${user.role}"></td>
				<td th:text="${user.isVerified}"></td>
				<td>
					<!-- Display user information -->
					<form th:action="@{/admin/users/update}" th:id="'updateForm-' + ${user.id}" th:method="post"
						th:style="${'display: none;'}">

						<input name="email" th:value="${user.email}" type="hidden" />

						<!-- Dropdown to select user role -->
						<label>
							<select name="role">
								<option th:selected="${#strings.equals(user.role, 'USER')}" value="USER">User</option>
								<option th:selected="${#strings.equals(user.role, 'ADMIN')}" value="ADMIN">Admin
								</option>
								<option th:selected="${#strings.equals(user.role, 'WRITER')}" value="WRITER">Writer
								</option>
								<option th:selected="${#strings.equals(user.role, 'SUBSCRIBER')}" value="SUBSCRIBER">
									Subscriber
								</option>
							</select>
						</label>

						<label>
							Verify:
							<input name="isVerified" th:checked="${user.isVerified}" type="checkbox" />
						</label>

						<button type="submit">Update</button>
					</form>

					<!-- Button to toggle the visibility of the update form -->
					<button th:onclick="'toggleForm(\'updateForm-' + ${user.id} + '\');'">Edit</button>

					<!-- Form to delete user -->
					<form th:action="@{/admin/users/delete}" th:method="post">
						<input name="email" th:value="${user.email}" type="hidden" />
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Pagination controls -->
	<div th:if="${totalPages > 1}">
		<ul class="pagination">
			<li th:class="${currentPage == 1 ? 'disabled' : ''}">
				<a aria-label="First" th:href="@{/admin/users(page=1)}">
					<span aria-hidden="true">&laquo;&laquo;</span>
				</a>
			</li>
			<li th:each="pageNumber : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
				th:if="${pageNumber >= 1 and pageNumber <= totalPages}">
				<span th:if="${pageNumber == currentPage}" th:text="${pageNumber}"></span>
				<a th:href="@{/admin/users(page=${pageNumber})}" th:text="${pageNumber}"
					th:unless="${pageNumber == currentPage}"></a>
			</li>
			<li th:class="${currentPage == totalPages ? 'disabled' : ''}">
				<a aria-label="Last" th:href="@{/admin/users(page=${totalPages})}">
					<span aria-hidden="true">&raquo;&raquo;</span>
				</a>
			</li>
		</ul>
	</div>

</body>

</html>