<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Manage users</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/main.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<style>

	</style>
</head>

<body>
<div id="entry">
	<div class="main typography use-theme-bg" id="main">
		<div th:replace="~{fragments/header :: div}"></div>

		<div class="container">
			<div class="row">
				<div class="col first-title">
					<h2>User Management</h2>
				</div>
			</div>
			<div class="row">
				<div class="col admin-links">
					<a th:href="@{/admin/articles}">Articles</a>
					<a th:href="@{/admin/categories}">Categories</a>
					<a th:href="@{/admin/roles}">Roles</a>
				</div>
			</div>
			<div class="row">
				<div class="col search-container" style="display: flex">
					<form th:action="@{/admin/users/search}" method="get">
						<input class="form-control" type="text" name="query" th:value="${searchQuery}" placeholder="Search users...">
						<button class="button profile-button" type="submit">Search</button>
					</form>
				</div>
				<div class="col">
					<div th:text="${errorMessage}" id="error" class="text-danger" style="text-align: center;
    margin: 10px 0;"></div>
					<div th:text="${successMessage}" id="success" class="text-success" style="text-align: center;
    margin: 10px 0;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col data-container">
					<table>
						<thead>
						<tr>
							<th>ID</th>
							<th>Picture</th>
							<th>Email</th>
							<th>Name</th>
							<th>Phone</th>
							<th>Role</th>
							<th>Is Verified</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<!-- Loop through the list of users -->
						<tr class="table-row" th:each="user : ${users}">
							<td th:text="${user.id}"></td>
							<td>
								<img alt="Image" class="profile-image-admin" th:if="${user.profilePicture != null}"
									 th:src="'data:image/png;base64, ' + ${user.profilePicture}" />
								<img alt="Default Image" class="profile-image-admin" src="/img/default-picture.png"
									 th:unless="${user.profilePicture != null}" />
							</td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.phoneNumber}"></td>
							<td th:text="${user.role.name}"></td>
							<td th:text="${user.isVerified}"></td>
							<td>
								<div class="row">
									<div class="col" style="text-align: end">
										<button class="button profile-button" th:onclick="'toggleForm(\'updateForm-' + ${user.id} + '\');'">Edit</button>
									</div>
									<div class="col" style="text-align: start">
											<button class="button profile-button" th:onclick="'toggleForm(\'deleteForm-' + ${user.id} + '\');'">Delete</button>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<form class="update-form" th:action="@{/admin/users/update}" th:id="'updateForm-' + ${user.id}" th:method="post"
											  th:style="${'display: none;'}">

											<input name="email" th:value="${user.email}" type="hidden" />

											<label for="role">Role:
												<select class="form-control" name="role" id="role">
													<option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"
															th:selected="${#strings.equals(role.name, user.role?.name)}">
													</option>
												</select>
											</label>

											<label>
												Verify:
												<input class="form-check-input" name="isVerified" th:checked="${user.isVerified}" type="checkbox" />
											</label>

											<button class="button profile-button" type="submit">Update</button>
										</form>
										<form class="delete-form" th:action="@{/admin/users/delete}" th:id="'deleteForm-' + ${user.id}" th:method="post" th:style="'display: none;'">
											<input name="email" th:value="${user.email}" type="hidden" />
											<input class="form-control" type="text" th:id="'deleteInput-' + ${user.id}" style="width: auto; margin: 8px 0;" placeholder="Type 'DELETE' to confirm">
											<button class="button profile-button" type="button" th:onclick="'confirmDelete(' + ${user.id} + ')'" id="deleteButton">Delete</button>
										</form>
									</div>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
					<!-- Pagination controls -->
					<div class="pagination-container" th:if="${totalPages > 1}">
						<ul class="pagination">
							<li th:class="${currentPage == 1 ? 'disabled' : ''}">
								<a aria-label="First" th:href="@{/admin/users(page=1)}">
									<span aria-hidden="true">&laquo;&laquo;</span>
								</a>
							</li>
							<li th:each="pageNumber : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
								th:if="${pageNumber >= 1 and pageNumber <= totalPages}">
								<span th:if="${pageNumber == currentPage}" th:text="${pageNumber}"></span>
								<a th:href="@{/admin/users(page=${pageNumber})}" th:text="${pageNumber}"
								   th:unless="${pageNumber == currentPage}"></a>
							</li>
							<li th:class="${currentPage == totalPages ? 'disabled' : ''}">
								<a aria-label="Last" th:href="@{/admin/users(page=${totalPages})}">
									<span aria-hidden="true">&raquo;&raquo;</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col create-container">
					<!-- Button to toggle the visibility of the create user form -->
					<button class="button profile-button" id="showCreateForm" onclick="toggleForm('createForm')" style="margin: 5px;">Create User</button>
					<form class="create-form" enctype="multipart/form-data" id="createForm" th:action="@{/admin/users/create}" th:method="post"
						  th:style="${'display: none;'}">
<!--						<h3>Create User</h3>-->
						<label>Email:*
							<input class="form-control" name="email" required type="text" />
						</label>

						<label>Password:*
							<input class="form-control" name="password" required type="password">
						</label>

						<label>First Name:
							<input class="form-control" name="firstName" type="text">
						</label>

						<label>Last Name:
							<input class="form-control" name="lastName" type="text">
						</label>

						<label>Phone Number:
							<input class="form-control" name="phoneNumber" type="text" />
						</label>

						<label>Role:
							<select class="form-control" name="role">
								<tr th:each="role : ${roles}">
									<option th:value="${role.name}" th:text="${role.name}"></option>
								</tr>
							</select>
						</label>

						<label>
							Verify:
							<input class="form-check-input" name="isVerified" type="checkbox" />
						</label>

						<label for="profilePicture">Profile Picture:
							<input class="form-control" accept="image/*" id="profilePicture" name="profilePicture" type="file"><br>
						</label>

						<button class="button profile-button" type="submit">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function confirmDelete(userId) {
		var form = document.getElementById('deleteForm-' + userId);
		var input = form.querySelector('#deleteInput-' + userId);
		if (input.value === 'DELETE') {
			form.submit(); // Envía el formulario
		} else {
			document.getElementById("error").innerText="You must type 'DELETE' to confirm.";
		}
	}
</script>

</body>


</html>