<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Manage articles</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/main.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div id="entry">
	<div class="main typography use-theme-bg" id="main">
		<div th:replace="~{fragments/header :: div}"></div>

<!--		<div th:if="${session.user}">-->
<!--			<a th:href="@{/logout}">Logout</a>-->
<!--		</div>-->
<div class="container">
	<div class="row">
		<div class="col first-title">
			<h2>Article Management</h2>
		</div>
	</div>
	<div class="row">
		<div class="col admin-links">
			<a th:href="@{/admin/users}">Users</a>
			<a th:href="@{/admin/categories}">Categories</a>
			<a th:href="@{/admin/roles}">Roles</a>
		</div>
	</div>
	<div class="row">
		<div class="col data-container">
			<table>
				<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Writer</th>
					<th>Status</th>
					<th>Priority</th>
					<th>Category</th>
					<th>Creation Date</th>
					<th>Publication Date</th>
					<th>Actions</th>
					<th>Content</th>
				</tr>
				</thead>
				<tbody>
				<tr class="table-row" th:each="article : ${articles}">
					<td th:text="${article.id}"></td>
					<td class="article-title" th:text="${article.title}"></td>
					<td th:text="${article.user.email}"></td>
					<td th:text="${article.status}"></td>
					<td th:text="${article.priority}"></td>
					<td th:text="${article.category != null ? article.category.name : ''}"></td>
					<td th:text="${#temporals.format(article.creationDate, 'yyyy-MM-dd HH:mm')}"></td>
					<td th:text="${#temporals.format(article.publicationDate, 'yyyy-MM-dd HH:mm')}"></td>
					<td>
						<div class="row" style="flex-wrap: nowrap">
							<div class="col" style="text-align: end">
								<button class="button profile-button" th:onclick="'toggleForm(\'updateForm-' + ${article.id} + '\');'">Edit</button>
							</div>
							<div class="col" style="text-align: start">
									<button class="button profile-button" th:onclick="'toggleForm(\'deleteForm-' + ${article.id} + '\');'">Delete</button>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<form class="update-form" th:action="@{/admin/articles/update}" th:id="'updateForm-' + ${article.id}" th:method="post"
									  th:style="${'display: none;'}">
									<input name="id" th:value="${article.id}" type="hidden" />

									<label>
										<select class="form-control" name="status">
											<option th:selected="${#strings.equals(article.status, 'PENDING')}" value="PENDING">
												Pending
											</option>
											<option th:selected="${#strings.equals(article.status, 'PUBLISHED')}" value="PUBLISHED">
												Published
											</option>
											<option th:selected="${#strings.equals(article.status, 'DECLINED')}" value="DECLINED">
												Declined
											</option>
										</select>
									</label>

									<label>
										<select class="form-control" name="priority">
											<option th:selected="${#strings.equals(article.priority, 'REGULAR')}" value="REGULAR">
												Regular
											</option>
											<option th:selected="${#strings.equals(article.priority, 'FEATURED')}" value="FEATURED">
												Featured
											</option>
											<option th:selected="${#strings.equals(article.priority, 'HIGHLIGHTED')}"
													value="HIGHLIGHTED">
												Highlighted
											</option>
										</select>
									</label>

									<label>
										<select class="form-control" name="categoryId">
											<option th:selected="${article.category == null}" th:value=0>No Category</option>
											<option th:selected="${article.category != null and category.id eq article.category.id}"
													th:each="category : ${categories}" th:value="${category.id}"
													th:text="${category.name}">
												Category Name
											</option>
										</select>
									</label>

									<button class="button profile-button" type="submit">Update</button>
								</form>
								<form class="delete-form" th:action="@{/admin/articles/delete}" th:id="'deleteForm-' + ${article.id}" th:method="post" th:style="'display: none;'">
									<input name="id" th:value="${article.id}" type="hidden" />
								<input class="form-control" type="text" th:id="'deleteInput-' + ${article.id}" style="width: auto; margin: 8px 0;" placeholder="Type 'DELETE' to confirm">
								<button class="button profile-button" type="button" th:onclick="'confirmDelete(' + ${article.id} + ')'" id="deleteButton">Delete</button>
								</form>
							</div>
						</div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<button class="button profile-button" th:onclick="'showContent(\'content-' + ${article.id} + '\', \'' + ${article.id} + '\');'">Show Content</button>
							</div>
							<div class="show-content">
								<!-- Article content (initially hidden) -->
								<div th:id="'content-' + ${article.id}" th:data-id="${article.id}"
									 th:style="'display: none; overflow: auto; white-space: pre-line;'">
									<img alt="Image" class="image" th:if="${article.image != null}"
										 th:src="'data:image/png;base64, ' + ${article.image}" width="500px"/>
									<h3 th:text="${article.title}" style="padding-top: 20px"></h3>
									<h4 th:text="${article.subtitle}"></h4>
									<p th:utext="${article.content}"></p>
								</div>
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			<!-- Pagination controls -->
			<div class="pagination-container" th:if="${totalPages > 1}">
				<ul class="pagination">
					<li th:class="${currentPage == 1 ? 'disabled' : ''}">
						<a aria-label="First" th:href="@{/admin/articles(page=1)}">
							<span aria-hidden="true">&laquo;&laquo;</span>
						</a>
					</li>
					<li th:each="pageNumber : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
						th:if="${pageNumber >= 1 and pageNumber <= totalPages}">
						<span th:if="${pageNumber == currentPage}" th:text="${pageNumber}"></span>
						<a th:href="@{/admin/articles(page=${pageNumber})}" th:text="${pageNumber}"
						   th:unless="${pageNumber == currentPage}"></a>
					</li>
					<li th:class="${currentPage == totalPages ? 'disabled' : ''}">
						<a aria-label="Last" th:href="@{/admin/articles(page=${totalPages})}">
							<span aria-hidden="true">&raquo;&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="content-display-area" id="contentDisplayArea" style="display: none;">
				<!-- Content will be moved here dynamically -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div th:text="${errorMessage}" id="error" class="text-danger" style="text-align: center;
    margin: 15px 0;"></div>
			<div th:text="${successMessage}" id="success" class="text-success" style="text-align: center;
    margin: 15px 0;"></div>
		</div>
	</div>
</div>


	</div>
</div>

	<script>
		let currentContentId = null;

		function showContent(contentId, articleId) {
			let contentDiv = document.getElementById(contentId);
			let displayArea = document.getElementById('contentDisplayArea');

			// If there is content already shown, hide it
			if (currentContentId && currentContentId !== contentId) {
				let currentContentDiv = document.getElementById(currentContentId);
				if (currentContentDiv) {
					currentContentDiv.style.display = 'none';
					let originalLocation = document.querySelector('[th\\:id="content-' + currentContentDiv.dataset.id + '"]');
					if (originalLocation) {
						originalLocation.appendChild(currentContentDiv); // Move back to its original place
					}
				}
			}

			// Toggle the new content
			if (contentDiv.style.display === 'none') {
				displayArea.innerHTML = ''; // Clear the display area
				displayArea.appendChild(contentDiv); // Move the content to the display area
				displayArea.style.display = 'block';
				contentDiv.style.display = 'block';
				currentContentId = contentId;
			} else {
				contentDiv.style.display = 'none';
				displayArea.style.display = 'none';
				currentContentId = null;
			}
		}

		function confirmDelete(articleId) {
			var form = document.getElementById('deleteForm-' + articleId);
			var input = form.querySelector('#deleteInput-' + articleId);
			if (input.value === 'DELETE') {
				form.submit(); // Envía el formulario
			} else {
				document.getElementById("error").innerText="You must type 'DELETE' to confirm.";
			}
		}
	</script>

</body>

</html>