<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="${article.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

<div id="entry">
    <div class="main typography use-theme-bg" id="main">
        <div th:replace="~{fragments/header :: div}"></div>
        <div>
            <div class="single-post-container">
                <div class="articulo">
                    <div class="single-post">
                        <article class="typography newsletter-post post">
                            <div class="post-header">
                                <h1 class="post-title unpublished" th:text="${article.title}"></h1>
                                <h3 class="subtitle" th:text="${article.subtitle}"></h3>
                            </div>
                            <div class="available-content">
                                <div class="body markup" dir="auto">
                                    <div class="captioned-image-container">
                                        <div class="image2-inset">
                                            <img alt
                                                 class="sizing-normal" height="768" th:if="${article.image != null}"
                                                 th:src="'data:image/png;base64, ' + ${article.image}" width="1024">
                                        </div>
                                    </div>
                                    <div class="content-container">
                                        <p th:utext="${article.content}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="pc-display-flex pc-flexDirection-column pc-paddingBottom-16 pc-reset">
                                <div class="pc-display-flex pc-flexDirection-column pc-paddingTop-16 pc-paddingBottom-16 pc-reset">
                                    <div class="pc-display-flex pc-gap-12 pc-alignItems-center pc-reset byline-wrapper">

                                        <div class="pc-display-flex pc-reset">
                                            <div class="pc-display-flex pc-gap-8 pc-alignItems-center frontend-pencraft-Box-module__flexGrow--mx4xz pc-reset facepile">
                                                <div class="pc-display-flex pc-alignItems-center pc-reset">
                                                    <div class="pc-display-flex pc-alignItems-center pc-reset frontend-components-Facepile-module__faces--FVkdk frontend-components-Facepile-module__size-40--pH6IT">
                                                        <div class="profile-hover-card-target frontend-reader2-ProfileAndPublicationHoverCard-module__profileHoverCardTarget--Od_YL">
                                                            <p class="pc-display-flex frontend-pencraft-Box-module__flexAuto--CnX9I pc-reset">
                                                                <picture>
                                                                    <img alt="Default Image"
                                                                         class="article-user-image"
                                                                         src="/img/default-picture.png"
                                                                         th:unless="${article.user.profilePicture != null}"/>
                                                                    <img alt
                                                                         class="article-user-image"
                                                                         th:if="${article.user.profilePicture != null}"
                                                                         th:src="'data:image/png;base64, ' + ${article.user.profilePicture}"/>
                                                                </picture>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pc-display-flex pc-flexDirection-column pc-reset">
                                            <div
                                                    class="pc-reset frontend-pencraft-Text-module__color-pub-primary-text--RzL7j frontend-pencraft-Text-module__line-height-20--p0dP8 frontend-pencraft-Text-module__font-meta--U_nxy frontend-pencraft-Text-module__size-11--k1e8b frontend-pencraft-Text-module__weight-medium--x7khA frontend-pencraft-Text-module__transform-uppercase--IDkUL frontend-pencraft-Text-module__reset--dW0zZ frontend-pencraft-Text-module__meta--jzHdd">
                                                <div
                                                        class="profile-hover-card-target frontend-reader2-ProfileAndPublicationHoverCard-module__profileHoverCardTarget--Od_YL">
                                                    <p class="writer-name pc-reset frontend-pencraft-Text-module__decoration-hover-underline--BEYAn frontend-pencraft-Text-module__reset--dW0zZ"
                                                       th:text="${article.user.name}">
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="pc-display-flex pc-gap-4 pc-reset">
                                                <div class="pc-reset frontend-pencraft-Text-module__color-pub-secondary-text--OzRTa frontend-pencraft-Text-module__line-height-20--p0dP8 frontend-pencraft-Text-module__font-meta--U_nxy frontend-pencraft-Text-module__size-11--k1e8b frontend-pencraft-Text-module__weight-medium--x7khA frontend-pencraft-Text-module__transform-uppercase--IDkUL frontend-pencraft-Text-module__reset--dW0zZ frontend-pencraft-Text-module__meta--jzHdd"
                                                     th:text="${#temporals.format(article.publicationDate, 'dd MMM yyyy')}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pc-display-flex pc-gap-16 pc-justifyContent-space-between pc-alignItems-center frontend-pencraft-Box-module__flexGrow--mx4xz pc-reset frontend-pencraft-Box-module__border-bottom-detail-themed--eVwFY post-ufi">

                                </div>
                            </div>
                            <div class="post-footer use-separators post-ufi themed next-prev">
                                <div><a class="post-ufi-button style-button has-label with-border"
                                        role="button">
                                    <svg class="icon"
                                         fill="#000000" height="20" role="img"
                                         stroke="#000" stroke-width="1.5" style="height: 20px; width: 20px;" viewBox="0 0 24 24"
                                         width="20" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <title></title>
                                            <svg class="lucide lucide-arrow-left " height="24"
                                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                                 viewBox="0 0 24 24" width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="m12 19-7-7 7-7"></path>
                                                <path d="M19 12H5"></path>
                                            </svg>
                                        </g>
                                    </svg>
                                    <div class="label">
                                        <div class="tw-flex tw-items-center">Previous</div>
                                    </div>
                                </a></div>
                                <div><a class="post-ufi-button style-button has-label with-border" role="button">
                                    <div class="label">
                                        <div class="tw-flex tw-items-center">Next</div>
                                    </div>
                                    <svg class="icon" fill="#000000" height="20"
                                         role="img" stroke="#000" stroke-width="1.5" style="height: 20px; width: 20px;"
                                         viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <title></title>
                                            <svg class="lucide lucide-arrow-right " height="24"
                                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                                 viewBox="0 0 24 24" width="24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 12h14"></path>
                                                <path d="m12 5 7 7-7 7"></path>
                                            </svg>
                                        </g>
                                    </svg>
                                </a></div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="single-post-section comments-section">
                    <div class="container">
                        <div class="comments-section-title">
                            <th:block th:if="${comments.size() == 0}">
                                <span>No Comments</span>
                            </th:block>
                            <th:block th:if="${comments.size() == 1}">
                                <span>1 Comment</span>
                            </th:block>
                            <th:block th:if="${comments.size() > 1}">
                                <span th:text="${comments.size()}"></span>
                                <span> Comments</span>
                            </th:block>
                        </div>
                        <div class="visibility-check"></div>
                        <div data-test-id="comment-input" th:if="${session.user != null}"
                             class="pc-display-flex _flexGrow_12ngs_227 pc-reset comment-input-wrap">
                            <form method="post" class="form comment-input" th:action="@{/comment/create}">
                                    <img alt="Image"
                                         class="comment-profile-image" th:if="${session.user.profilePicture != null}"
                                         th:src="'data:image/png;base64, ' + ${session.user.profilePicture}"/>
                                    <img alt="Default Image" class="comment-profile-image" src="/img/default-picture.png"
                                         th:unless="${session.user.profilePicture != null}"/>
                                <div class="pencraft pc-display-flex pc-flexDirection-column _flexGrow_12ngs_227 pc-reset comment-input-right">
                                    <textarea name="content" placeholder="Write a comment..."></textarea>
                                    <input type="hidden" name="articleId" th:value="${article.id}" />
                                    <div id="error-container"></div>
                                    <div class="post-item pc-display-flex pc-paddingTop-8 pc-alignItems-center pc-reset">
                                        <button type="submit" class="button">Post</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="comment-list post-page-root-comment-list">
                            <div class="comment-list-items">
                                <th:block th:each="comment : ${comments}">
                                    <div class="comment">
                                        <table class="comment-content">
                                            <tr>
                                                <td class="comment-head">
                                                    <div class="profile-hover-card-target _profileHoverCardTarget_1ypz6_50">
                                                        <div class="user-head">
                                                                <img alt="Image"
                                                                     class="comment-profile-image" th:if="${comment.user.profilePicture != null}"
                                                                     th:src="'data:image/png;base64, ' + ${comment.user.profilePicture}"/>
                                                                <img alt="Default Image" class="comment-profile-image" src="/img/default-picture.png"
                                                                     th:unless="${comment.user.profilePicture != null}"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="comment-rest">
                                                    <div class="comment-meta"><span class="commenter-name">
                                                            <div class="pencraft pc-display-flex pc-gap-4 pc-alignItems-center pc-reset pc-display-inline-flex">
                                                                <div class="profile-hover-card-target _profileHoverCardTarget_1ypz6_50">
                                                                        <div th:text="${comment.user.email}" class="">
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                        </span>
                                                        <time th:text="${#temporals.format(article.publicationDate, 'MMM dd, yyyy')}"
                                                            class="comment-timestamp">

                                                        </time>
                                                    </div>
                                                    <div class="comment-body">
                                                        <p><span th:text="${comment.content}"></span></p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: div}"></div>
</div>
<script th:src="@{/js/main.js}"></script>
</body>

</html>