<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>The Wasted Times</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div id="entry">
		<div id="main" class="main typography use-theme-bg">

			<div th:replace="~{fragments/header :: div}"></div>

			<div class="archive-page typography frontend-main-archive_page-module__container--Brctc use-theme-bg">
				<div class="container">
					<div class="portable-archive">
						<div
							class="pencraft pc-display-flex pc-paddingLeft-8 pc-paddingRight-8 pc-paddingBottom-16 pc-justifyContent-space-between pc-alignItems-center pc-reset">
							<div class="pencraft pc-display-flex pc-gap-8 pc-reset">
								<div role="button"
									class="frontend-pencraft-unstable-PillTabs-module__pillTab--cqGWE frontend-pencraft-unstable-PillTabs-module__pillTabActive--bmZsx">
									Recent</div>
								<div role="button" class="frontend-pencraft-unstable-PillTabs-module__pillTab--cqGWE">
									Popular</div>
							</div>
							<div role="button" class="frontend-main-home-ArchiveAdapted-module__iconButton--_iQQr"><svg
									role="img" style="height: 20px; width: 20px;" width="20" height="20"
									viewBox="0 0 24 24" fill="none" stroke-width="1.8" stroke="#000"
									xmlns="http://www.w3.org/2000/svg">
									<g>
										<title></title>
										<path
											d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
											stroke="#555555" stroke-width="1.5" stroke-linecap="round"
											stroke-linejoin="round"></path>
										<path d="M21.0004 21.0004L16.6504 16.6504" stroke="#555555" stroke-width="1.5"
											stroke-linecap="round" stroke-linejoin="round"></path>
									</g>
								</svg></div>
						</div>
						<div class="portable-archive-list">
							<th:block th:each="article: ${articles}">
								<div>
									<div
										class="frontend-main-home-PostsLayout-module__container--ZMlBv frontend-main-home-PostsLayout-module__two-column-list--dzbTj">
										<div class="pc-display-flex pc-flexDirection-column pc-reset pc-borderRadius-small article-default">
											<div class="frontend-main-home-PostPreview-PostPreviewListing-module__container--zH3ui">
												<div class="pencraft pc-display-flex pc-flexDirection-column pc-gap-8 pc-position-relative pc-reset">
													<div class="pencraft pc-display-flex pc-flexDirection-column pc-reset">
														<a class="pencraft pc-reset frontend-pencraft-Text-module__font-pub-headings--lbOZ2 frontend-pencraft-Text-module__size-18--zqngu frontend-pencraft-Text-module__clamp--a1dYM frontend-pencraft-Text-module__clamp-3--R6uR3 frontend-pencraft-Text-module__reset--dW0zZ"
															th:href="@{'/article/' + ${article.id}}"
															th:text="${article.title}"></a>
													</div>
													<div class="pencraft pc-display-flex pc-flexDirection-column pc-reset">
														<a href="#"
															class="pencraft pc-reset frontend-pencraft-Text-module__color-pub-secondary-text--OzRTa frontend-pencraft-Text-module__line-height-20--p0dP8 frontend-pencraft-Text-module__font-text--QmNJR frontend-pencraft-Text-module__size-14--Ume6q frontend-pencraft-Text-module__clamp--a1dYM frontend-pencraft-Text-module__clamp-2--kM7cV frontend-pencraft-Text-module__reset--dW0zZ"
															th:href="${article.id}" th:text="${article.subtitle}"></a>
													</div>
													<div class="pencraft pc-reset frontend-pencraft-Text-module__color-pub-secondary-text--OzRTa frontend-pencraft-Text-module__line-height-20--p0dP8 frontend-pencraft-Text-module__font-meta--U_nxy frontend-pencraft-Text-module__size-11--k1e8b frontend-pencraft-Text-module__weight-medium--x7khA frontend-pencraft-Text-module__transform-uppercase--IDkUL frontend-pencraft-Text-module__reset--dW0zZ frontend-pencraft-Text-module__meta--jzHdd frontend-main-home-PostPreview-PostPreviewAuthors-module__textContainer--DYUfJ">
														<time class="frontend-main-home-PostPreview-PostPreviewAuthors-module__date--MMeK8"
															th:text="${#temporals.format(article.publicationDate, 'MMM dd, yyyy')}">
														</time>
														<span class="frontend-main-home-PostPreview-PostPreviewAuthors-module__dividerChar--smno8">•</span>
														<div
															class="profile-hover-card-target frontend-reader2-ProfileAndPublicationHoverCard-module__profileHoverCardTarget--Od_YL">
															<p class="frontend-main-home-PostPreview-PostPreviewAuthors-module__link--XzaS3"
																th:text="${article.user.name}">
															</p>
														</div>
													</div>
													<div class="pencraft pc-display-flex pc-flexDirection-column pc-reset frontend-main-home-PostPreview-index-module__actions--eae29">
													<div class="post-ufi style-compressed justified themed">
														<div
															class="like-button-container post-ufi-button style-compressed">
															<a role="button"
																class="post-ufi-button style-compressed has-label with-border"><svg
																	role="img" style="height: 16px; width: 16px;"
																	width="16" height="16" viewBox="0 0 24 24"
																	fill="#000000" stroke-width="2" stroke="#000"
																	xmlns="http://www.w3.org/2000/svg" class="icon">
																	<g>
																		<title></title><svg
																			xmlns="http://www.w3.org/2000/svg"
																			width="24" height="24" viewBox="0 0 24 24"
																			stroke-width="2" stroke-linecap="round"
																			stroke-linejoin="round"
																			class="lucide lucide-heart ">
																			<path
																				d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">
																			</path>
																		</svg>
																	</g>
																</svg>
																<div class="label">1</div>
															</a>
														</div><a role="button"
															href="#"
															class="post-ufi-button style-compressed post-ufi-comment-button no-label with-border"><svg
																role="img" style="height: 16px; width: 16px;" width="16"
																height="16" viewBox="0 0 24 24" fill="#000000"
																stroke-width="2" stroke="#000"
																xmlns="http://www.w3.org/2000/svg" class="icon">
																<g>
																	<title></title><svg
																		xmlns="http://www.w3.org/2000/svg" width="24"
																		height="24" viewBox="0 0 24 24" stroke-width="2"
																		stroke-linecap="round" stroke-linejoin="round"
																		class="lucide lucide-message-circle ">
																		<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
																	</svg>
																</g>
															</svg></a><a role="button" href="javascript:void(0)"
															class="post-ufi-button style-compressed no-label with-border"><svg
																xmlns="http://www.w3.org/2000/svg" width="24"
																height="16" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round"
																class="icon">
																<path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8">
																</path>
																<polyline points="16 6 12 2 8 6"></polyline>
																<line x1="12" x2="12" y1="2" y2="15"></line>
															</svg></a>
													</div>
												</div>
												</div>
												<div style="aspect-ratio: 1.618" th:if="${article.image != null}"
													class="frontend-main-home-PostPreview-PostPreviewListing-module__image--RoIBP frontend-main-home-PostPreview-PostPreviewCoverImage-module__container--Wg_Ug">
													<img alt th:src="'data:image/png;base64, ' + ${article.image}"
														style="aspect-ratio: 1.618"
														class="frontend-components-responsive_img-module__img--Pgjj2 frontend-main-home-PostPreview-PostPreviewCoverImage-module__image--rPbBU pencraft pc-reset" />
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="frontend-main-home-Layout-module__container--GJ6Wt frontend-main-home-Layout-module__full-width--ziPTp">
											<div class="pencraft pc-display-flex pc-flexDirection-column pc-paddingLeft-8 pc-paddingRight-8 pc-paddingTop-8 pc-paddingBottom-8 pc-reset">
												<div class="pencraft pc-display-flex pc-reset frontend-pencraft-Box-module__border-bottom-detail-themed--eVwFY">
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="~{fragments/footer :: div}"></div>
		</div>
	</div>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>